{% macro apworlds_table(apworlds) %}
<table class="styled apworlds-table">
    <thead>
        <tr>
            <td>World</td>
            <td>Version</td>
            {% if base.is_logged_in %}
                <td>Download</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for (id, (world, version)) in apworlds.iter() %}
            {% let origin = world.get_version(version).unwrap() %}
            <tr>
                <td>
                    {% match world.home %}
                    {% when Some(home) %}
                        <a href="{{home}}">{{ world.display_name }}</a>
                    {% when None %}
                        {{ world.display_name }}
                    {% endmatch %}

                    <span class="world-tags">{{ (world,origin)|world_tags|safe }}</span>
                </td>
                <td>{{ version }}</td>
                {% if base.is_logged_in %}
                    <td>
                        {% if origin.has_patches() %}
                        <i class="fa fa-wrench" title="This apworld contains custom patches made by the index author"></i>
                        {% endif %}

                        {% if !origin.is_supported() %}
                            <a href="/worlds/download/{{id}}/{{version}}">Download</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

