{% macro emit_apworld_version_select(row) %}
<select {{ ro }} name="room.me.version.{{row.apworld_name}}">
    {% for version in row.valid_versions %}
    {% let is_current = (version.clone() == row.current_version) %}
    <option value="{{ version.to_string() }}" {%+ if is_current %}selected{% endif %}>{{ version.to_string_pretty(row.world) }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro emit_apworld_row(row) %}
<tr data-supported={{ row.world.supported }}>
    <td>
        <input {{ ro }} type="checkbox" id="me-enabled-{{row.apworld_name}}" class="me-enabled" name="room.me.enabled.{{row.apworld_name}}" {%+ if row.enabled %}checked{% endif %}>
        <label class="unstyled" for="me-enabled-{{row.apworld_name}}"></label>
    </td>
    <td>{{ row.world.display_name }}</td>
    <td>{% call emit_apworld_version_select(row) %}
</tr>
{% endmacro %}

<div>
    <fieldset>
        <legend>When a new apworld is added to the lobby:</legend>

        {% let enable_checked = matches!(self.manifest_builder.manifest.new_apworld_policy, apwm::NewApworldPolicy::Enable) %}
        <input {{ ro }} type="radio" name="room.me.new_apworld_policy" id="new_apworld_policy_enable" value="enable" {%+ if enable_checked %}checked{% endif %}>
        <label for="new_apworld_policy_enable">Add it to the room</label>
        {% let disable_checked = matches!(self.manifest_builder.manifest.new_apworld_policy, apwm::NewApworldPolicy::Disable) %}
        <input {{ ro }} type="radio" name="room.me.new_apworld_policy" id="new_apworld_policy_disable" value="disable" {%+ if disable_checked %}checked{% endif %}>
        <label for="new_apworld_policy_disable">Don't add it to the room</label>
    </fieldset>
</div>

<table id="me-editor" class="styled manifest-editor">
    <thead>
        <tr>
            <th class="actionable" id="enable-th" onclick="enableMenu.trigger(event)"><i class="fa-solid fa-bars"></i></th>
            <th>World</th>
            <th class="actionable" id="version-th" onclick="versionMenu.trigger(event)"><i class="fa-solid fa-bars"></i>&nbsp;Version</th>
        </tr>
    </thead>
    <tbody>
    {% for row in manifest_builder.rows() %}
        {% call emit_apworld_row(row) %}
    {% endfor %}
    </tbody>
</table>

<script src="/static/js/menu.js?{{ base.js_version }}"></script>

<script>

function forEachApworld(callback) {
    const rows = document.querySelectorAll("#me-editor > tbody > tr");
    for (const row of rows) {
        callback({
            checkbox: row.children[0].children[0],
            versions: row.lastChild.children[0],
            dataset: row.dataset
        })
    }
}

function disableAll() {
    forEachApworld((row) => {
        row.checkbox.checked = false;
    })
}

function enableAll() {
    forEachApworld((row) => {
        row.checkbox.checked = true;
    })
}

function keepSupportedOnly() {
    forEachApworld((row) => {
        row.checkbox.checked = row.dataset.supported === "true";
    })
}

function resetVersions() {
    forEachApworld((row) => {
        row.versions.value = row.versions.options[0].value;
    })
}

function freezeVersions() {
    forEachApworld((row) => {
        const currentVersion = row.versions.value;
        if (currentVersion == "Latest") {
            for (const option of [...row.versions.options].reverse()) {
                if (option.value != "Latest") {
                    row.versions.value = option.value;
                    break;
                }
            }
        }
    })
}

{% if !self.read_only %}
    const versionMenu = new Menu(document.getElementById("version-th"))
    versionMenu.items.push(new MenuItem("Reset versions to latest", resetVersions))
    versionMenu.items.push(new MenuItem("Freeze versions", freezeVersions))
    versionMenu.build();

    const enableMenu = new Menu(document.getElementById("enable-th"))
    enableMenu.items.push(new MenuItem("Enable all", enableAll))
    enableMenu.items.push(new MenuItem("Disable all", disableAll))
    enableMenu.items.push(new MenuItem("Only keep supported worlds", keepSupportedOnly))
    enableMenu.build();
{% endif %}
</script>
