nav {
    background: black;
    box-shadow: 0 1px 0px 0px hsla(0, 0%, 100%, 0.15);
    margin-top: -0.5em;
    margin-bottom: 1em;
    padding: 0.5em 1.5em 0 0;
    display: flex;
}

nav > a {
    display: inline-block;
    font-size: 0.925em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0.35em 1em;
    margin: 0 2px 0 0;
}

.selected {
    background-color: #12202c;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.35);
    color: hsl(0, 0%, 95%);
    border-top: 1px solid hsla(0, 0%, 100%, 0.15);
    border-bottom: none;
    border-left: 1px solid hsla(0, 0%, 100%, 0.15);
    border-right: 1px solid hsla(0, 0%, 100%, 0.15);
}

body {
    background: #12202c;
    color: #fff;
    max-width: 100%;
}

* {
    box-sizing: content-box;
}
