<html>
    <head>
        <link rel="stylesheet" href="/static/contrib/font-awesome/css/all.min.css">
        <style>
* {
   color: white;
   background: black;
   box-sizing: border-box;
}

table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
}
table {
    margin-bottom: 1em;
}
td {
    padding: 2px;
}

.slot-status {
    height: 100%;
    padding-left: .5em;
    margin-right: .2em;
    margin-left: .2em;
}

.slot-status-green {
    background-color: green
}

.slot-status-yellow {
    background-color: yellow
}

.slot-status-red {
    background-color: red
}

.error-box {
    background-color: #610505;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 2em;
}
        </style>
    </head>
    <body id="main">
        {% if !is_session_valid %}
        <div class="error-box">The currently provided session is invalid. Commands will fail silently. Nothing I can do about the silent part...</div>
        {% endif %}
        <table>
            <tr>
                <td>Lobby Room</td>
                <td><a href="{{ lobby_root_url}}room/{{lobby_room.id}}">{{ lobby_room.name }}</a></td>
            </tr>
            <tr>
                <td>Pages</td>
                <td><a href="/deathlinks">Deathlinks</a></td>
            </tr>
        </table>

        <div>
        Slots to ping (not connected, 0 checks):
        <ul>
        {% for slot_chunk in unclaimed_slots.chunks(10) %}
            <li>
            {% for slot in slot_chunk %}
                {% let lobby_slot = lobby_room.yamls[slot.id - 1] %}
                @{{ lobby_slot.discord_handle|lower }}
            {% endfor %}
            <button onclick="copySlotHandles(this); return false" style="margin-left: 10px; cursor: pointer;">
                <i class="fa-solid fa-copy"></i>
            </button>
            </li>
        {% endfor %}
        </ul>
        </div>


        <table>
            {% for slot in ap_room.tracker_info.slots %}
            {% let lobby_slot = lobby_room.yamls[slot.id - 1] %}
            {% let password_info = slot_passwords.0[slot.id - 1] %}
            <tr>
                <td><span class="slot-status slot-status-{{ slot|slot_status }}"></span></td>
                <td>{{ slot.name }}</td>
                <td>{{ slot.game }}</td>
                <td>{{ slot.status }} ({{ slot.checks.0 }} / {{ slot.checks.1 }})</td>
                <td>Last active: {{ slot|last_active }}</td>
                <td>@{{ lobby_slot.discord_handle }}</td>
                <td>
                    <a onclick='openPasswordPopup("{{lobby_slot.id}}", "{{slot.name}}", {% match password_info.password %}{% when Some with (pwd) %}"{{pwd}}"{% when None %}null{% endmatch %}); return false' href="#">
                        Password
                    </a>
                </td>
                <td><a onclick='openRelease("{{slot.name}}", "{{slot.game}}"); return false' href="#">Release</a></td>
                <td><a onclick='openAction("hint", "{{slot.name}}", "{{slot.game}}", "item"); return false' href="#">Hint item</a></td>
                <td><a onclick='openAction("give", "{{slot.name}}", "{{slot.game}}", "item"); return false' href="#">Give item</a></td>
                <td><a onclick='openAction("hint", "{{slot.name}}", "{{slot.game}}", "location"); return false' href="#">Hint location</a></td>
                <td><a onclick='openAction("give", "{{slot.name}}", "{{slot.game}}", "location"); return false' href="#">Give location</a></td>
                <td>
                    {% if lobby_slot.has_patch %}
                    <a href="{{lobby_root_url}}/room/{{lobby_room.id}}/patch/{{lobby_slot.id}}">Patch</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <ul>
            <li><span class="slot-status slot-status-green"></span> Slot is ok</li>
            <li><span class="slot-status slot-status-yellow"></span> Slot is BK'd since &gt; 30mn or connected without any check done</li>
            <li><span class="slot-status slot-status-red"></span> Slot is BK'd since &gt; 1h. Or disconnected, no checks.</li>
        </ul>
    </body>

    <script>
        function copySlotHandles(button) {
            const li = button.parentElement;
            const clone = li.cloneNode(true);
            clone.querySelector('button').remove();
            const text = clone.innerText.trim().replace(/\s+/g, ' ');
            const message = text + " you are not connected. If you need help please join the AP tech support. If you are connected in the meantime all good, you can ignore the ping.";
            navigator.clipboard.writeText(message);
        }

        function openRelease(slotName, slotGame) {
            const popup = getPopup();

            const confirmationText = document.createElement("div")
            confirmationText.innerText = "You're about to release the slot " + slotName + " playing " + slotGame + ". Please type the slot name in the following field to confirm."

            const confirmationForm = document.createElement("form")
            confirmationForm.action = "javascript:void(0);"
            const confirmationInput = document.createElement("input")
            confirmationInput.type = "text"

            const confirmationButton = document.createElement("button")
            confirmationButton.innerText = "Release"

            confirmationForm.appendChild(confirmationInput)
            confirmationForm.appendChild(confirmationButton)

            confirmationForm.addEventListener("submit", () => {
                if (confirmationInput.value != slotName) {
                    alert("Wrong slot name");
                    return
                }

                // TODO: Test this with a space in slot name
                location.href = location.href.split("#")[0] + "/release/" + encodeURIComponent(slotName);
            })

            popup.appendChild(confirmationText);
            popup.appendChild(confirmationForm);
        }

        function openAction(action, slotName, slotGame, ty) {
            const popup = getPopup();

            const hintText = document.createElement("div")
            hintText.innerText = "You're about to " + action + " a(n) " + ty + " for the slot " + slotName + " playing " + slotGame

            const hintForm = document.createElement("form")
            hintForm.action = "javascript:void(0);"
            const hintInput = document.createElement("input")
            hintInput.type = "text"
            hintInput.name = "hint"
            hintInput.setAttribute("autocomplete", "off")
            hintInput.setAttribute("list", "hint-datalist")

            const hintButton = document.createElement("button")
            hintButton.innerText = action + " " + ty
            const hintList = document.createElement("datalist")
            hintList.id = "hint-datalist"

            const url = new URL("/completion/" + ty + "/" + slotGame, document.location);
            fetch(url)
                .then((response) => {
                    return response.json()
                })
                .then((names) => {
                    for (const name of names) {
                        const option = document.createElement("option")
                        option.value = name
                        hintList.appendChild(option)
                    }
                })

            hintForm.appendChild(hintInput)
            hintForm.appendChild(hintList)
            hintForm.appendChild(hintButton)

            hintForm.addEventListener("submit", () => {
                location.href = location.href.split("#")[0] + "/" + action + "/" + ty + "/" + encodeURIComponent(slotName) + "/" + encodeURIComponent(hintInput.value)
            })
            popup.appendChild(hintText)
            popup.appendChild(hintForm)
        }

        function openPasswordPopup(yamlId, slotName, currentPassword) {
            const popup = getPopup();

            const title = document.createElement("div")
            title.innerText = "Password for slot: " + slotName
            title.style.marginBottom = "10px"

            const passwordDisplay = document.createElement("div")
            passwordDisplay.style.marginBottom = "15px"
            passwordDisplay.style.padding = "10px"
            passwordDisplay.style.border = "1px solid white"

            if (currentPassword) {
                passwordDisplay.innerText = "Current password: " + currentPassword
            } else {
                passwordDisplay.innerText = "No password set"
            }

            const generateButton = document.createElement("button")
            generateButton.innerText = "Generate New Password"
            generateButton.style.marginRight = "10px"
            generateButton.addEventListener("click", () => {
                const newPassword = generatePassword()
                setPassword(yamlId, newPassword)
            })

            const removeButton = document.createElement("button")
            removeButton.innerText = "Remove Password"
            removeButton.addEventListener("click", () => {
                setPassword(yamlId, null)
            })

            popup.appendChild(title)
            popup.appendChild(passwordDisplay)
            popup.appendChild(generateButton)
            popup.appendChild(removeButton)
        }

        function generatePassword() {
            const length = 6
            const charset = "ABCDEFGHJKMNPQRSTUVWXYZabcdefghjkmnpqrstuvwxyz23456789"
            let password = ""
            for (let i = 0; i < length; i++) {
                password += charset.charAt(Math.floor(Math.random() * charset.length))
            }
            return password
        }

        function setPassword(yamlId, password) {
            const url = new URL("/set_password/" + yamlId, document.location)
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ password: password })
            })
            .then((response) => {
                if (response.ok) {
                    location.reload()
                } else {
                    alert("Failed to update password")
                }
            })
            .catch((error) => {
                alert("Error: " + error)
            })
        }

        function getPopup() {
            const popup = document.createElement("dialog");
            popup.id = "popup"
            popup.onclick = (event) => { event.target == popup && popup.close(); return true; }


            const body = document.getElementById("main");
            body.append(popup);
            popup.onclose = () => body.removeChild(popup);

            popup.showModal()

            return popup
        }
    </script>
</html>
