{% extends "base.html" %}
{% import "shared/apworlds_table.html" as apworlds_table %}

{% block menu %}
{% endblock %}

{% block main %}
<table class="styled" id="room-info">
    <tr>
        <td colspan="2">
            This page lists all the apworlds used by this lobby to validate YAMLs.<br>
        </td>
    </tr>
    <tr>
        <td>Index homepage</td>
        <td><a href="{{ index.index_homepage }}">{{ index.index_homepage }}</a></td>
    </tr>
    {% if base.is_logged_in %}
    <tr>
        <td>Download</td>
        <td><a class="button-emulator validation-button" href="/worlds/download_all">Download all apworlds</a></td>
    </tr>

    {% endif %}
</table>

{% call apworlds_table::apworlds_table(apworlds) %}{% endcall %}
{% endblock %}

{% block styles %}
{% endblock %}
