{% import "menu.html.tera" as menu %}

<!DOCTYPE html >
<html lang="en">
    <head>
        <title>{% block title %}Archipelago lobby{% endblock title %}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/css/base.css?{{ base.css_version }}" />
        <link rel="stylesheet" href="/static/contrib/font-awesome/css/all.min.css" />
        <meta name="viewport" content="width=device-width">

        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <nav id="navigation">
            {% call menu::app_menu_item("Rooms", "fa-brands fa-buffer", "/", "index", base.cur_module) %}
            {% block room_navigation %}
            {% endblock %}
            <span class="separator"></span>
            {% if base.is_logged_in %}
            {% if base.is_admin %}
                {% call menu::app_menu_item("All rooms", "fa fa-list", "/rooms", "rooms", base.cur_module) %}
            {% else %}
                {% call menu::app_menu_item("My rooms", "fa fa-list", "/rooms", "rooms", base.cur_module) %}
            {% endif %}
            {% call menu::app_menu_item("Create new room", "fa fa-plus", "/create-room", "create-room", base.cur_module) %}
            {% call menu::app_menu_item("Logout", "fa fa-sign-out", "/auth/logout", "logout", base.cur_module) %}
            {% else %}
            {% call menu::app_menu_item("Login", "fa fa-sign-in", "/auth/login", "login", base.cur_module) %}
            {% endif %}

            <a class="source-code" href="https://github.com/Eijebong/Archipelago-lobby" id="github"><span><i class="fa-brands fa-github"></i>Source code</span></a>
        </nav>

        <div id="main-container">
            <main id="main" >
                <nav id="module-menu">
                    {% block menu %}{% endblock menu %}
                </nav>
                <div id="messages">
                    {% if base.err_msg.is_some() %}
                        <p class="error">{{ base.err_msg.as_ref().unwrap() }}</p>
                    {% endif %}
                    {% block messages %}{% endblock messages %}
                </div>
                {% block main %}{% endblock main %}
            </main>
        </div>
        <script src="/static/js/time.js" defer></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>


