{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% block menu %}
{% endblock %}
{% block main %}
<div>
    <h6 style="margin: 0;">List of open rooms</h6>
    <table class="styled">
        <thead>
            <tr>
                <td>Room name</td>
                <td>Closing date</td>
                <td></td>
            </tr>
        </thead>
        {% if open_rooms.len() != 0 %}
            {% for room in open_rooms %}
            <tr>
                <td>
                    <a href="/room/{{room.id}}">{{ room.settings.name }}</a>
                </td>

                {% if room.settings.private %}
                    <td>
                        <span class="time long-time">{{room.settings.close_date}}</span>
                    </td>
                    <td><i class="room-lock fa-solid fa-lock"></i></td>
                {% else %}
                    <td colspan=2>
                        <span class="time long-time">{{room.settings.close_date}}</span>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
        <tr><td colspan=2>There's no open room at the moment</td></tr>
        {% endif %}
    </table>

    {% if your_rooms.len() != 0 %}
        <h6 style="margin: 0;">List of rooms you previously participated in</h6>
        <table class="styled">
            <thead>
                <tr>
                    <td>Room name</td>
                    <td></td>
                </tr>
            </thead>
                {% for room in your_rooms %}
                <tr>
                    {% if room.settings.private %}
                        <td>
                            <a href="/room/{{room.id}}">{{ room.settings.name }}</a>
                        </td>
                        <td><i class="room-lock fa-solid fa-lock"></i></td>
                    {% else %}
                        <td colspan=2>
                            <a href="/room/{{room.id}}">{{ room.settings.name }}</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    {% endif %}
</div>
{%endblock%}
