{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% block menu %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::menu_item("Room", "", room_url, true, "room-menu") %}
    {% if !is_closed && base.is_logged_in %}
        {% call menu::menu_item("Upload yaml", "", "#upload", false, "uploadButton") %}
    {% endif %}
    {% if !is_closed && !base.is_logged_in %}
        {% let login_url = format!("/auth/login?redirect={}", room_url) %}
        {% call menu::menu_item("Upload yaml", "", login_url, false, "") %}
    {% endif %}
    {% if base.is_logged_in && room.settings.show_apworlds %}
        {% let apworlds_url = format!("/room/{}/worlds", self.room.id) %}
        {% call menu::menu_item("Apworlds", "", apworlds_url, false, "apworldsButton") %}
    {% endif %}
    {% if is_my_room %}
        {% let edit_url = format!("/edit-room/{}", self.room.id) %}
        {% call menu::menu_item("Edit room", "", edit_url, false, "editButton") %}
    {% endif %}
{% endblock %}

{% block room_navigation %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::app_menu_item(room.settings.name, "menu-indented fa-classic fa-angle-right", room_url, "room", base.cur_module) %}
{% endblock %}

{% block main %}

<noscript>
    Gotta enable javascript for this to work, sorry
</noscript>

{% if has_room_url %}
    <p class="message info">Room URL: <a href="{{ room.settings.room_url }}">{{ room.settings.room_url }}</a></p>
{% endif %}

<table class="styled" id="room-info">
    <tr>
        <td>Room name</td>
        <td><span title="Organized by @{{author_name}}">{{ room.settings.name }}</span></td>
    </tr>
    <tr>
        <td>Closing time</td>
        <td id="close-date" class="time long-time discord">{{ room.settings.close_date }}</td>
    </tr>
    {% match room.settings.yaml_limit_per_user%}
    {% when Some with (yaml_limit_per_user) %}
    <tr>
        <td>Maximum number of games per player</td>
        <td>{{ yaml_limit_per_user}}</td>
    </tr>
    {% when None %}
    {% endmatch %}
    <tr>
        <td>Players</td>
        <td><span title="{{unique_player_count}} unique players / {{ unique_game_count }} unique games">{{ player_count }}</span></td>
    </tr>
    {% if !room.settings.description.is_empty() %}
    <tr>
        <td>Description</td>
        <td>{{ room.settings.description|markdown|safe }}</td>
    </tr>
    {% endif %}
</table>

<table class="styled yamls" id="yamls">
    <thead>
        <tr>
            <th>Player {%+ if base.is_logged_in  %}(<input type="checkbox" id="my-yamls"><label for="my-yamls">My files only</label>){% endif %}</th>
            <th>Game</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for yaml in yamls %}
        {% let is_my_yaml = (Some(yaml.0.owner_id) == base.user_id.as_ref()) %}
        <tr {%+ if is_my_yaml %} data-my-yaml=true {% endif %}>
            {% if base.is_logged_in %}
                <td><span><span title="@{{yaml.1}}">{{yaml.0.player_name}}</span> {{yaml.0.features|yaml_features|safe}}</span></td>
            {% else %}
                <td><span><span>{{yaml.0.player_name}}</span> {{yaml.0.features|yaml_features|safe}}</span></td>
            {% endif %}
            <td>{{yaml.0.game}}</td>
            {% if (is_my_yaml || is_my_room) && !is_closed %}
            <td><a href="/room/{{room.id}}/download/{{yaml.0.id}}" onclick='return showYaml("{{ room.id }}", "{{yaml.0.id}}", "{{yaml.0.player_name}}", "{{yaml.0.game}}")'>View</a> | <a href="/room/{{room.id}}/delete/{{yaml.0.id}}" data-confirm-del=true data-resource-type="YAML file" data-resource-name="{{yaml.0.player_name}} ({{yaml.0.game}})">Delete</a></td>
            {% else %}
            <td><a href="/room/{{room.id}}/download/{{yaml.0.id}}" onclick='return showYaml("{{ room.id }}", "{{yaml.0.id}}", "{{yaml.0.player_name}}", "{{yaml.0.game}}")'>View</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if base.is_logged_in && !yamls.is_empty() %}
        <tr>
            <td colspan="2"></td><td><a class="validation-button" href="/room/{{room.id}}/yamls">Download all YAMLs</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>

<form style="display: none" action="/room/{{room.id}}/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="yamls[]" id="yamlUpload" accept=".yml,.yaml" multiple>
    <button id="yamlFormButton">Upload</button>
</form>
{%endblock%}

{% block scripts %}
<script>
    const yamlUpload = document.getElementById("yamlUpload");
    const yamlUploadButton = document.getElementById("uploadButton");
    const yamlFormButton = document.getElementById("yamlFormButton");

    if (yamlUploadButton) {
        yamlUploadButton.onclick = function() {
            yamlUpload.click();
        }
    }

    yamlUpload.onchange = function() {
        yamlFormButton.click();
    }

    const filter_yamls = document.getElementById("my-yamls");
    if (filter_yamls !== null) {
        filter_yamls.checked = false;
        filter_yamls.onchange = function() {
            const yamlTable = document.getElementById("yamls").getElementsByTagName("tbody")[0];
            for(let row of yamlTable.getElementsByTagName("tr")) {
                if (filter_yamls.checked) {
                    if (row.dataset.myYaml) {
                        row.style.display = "table-row"
                    } else {
                        row.style.display = "none"
                    }
                } else {
                    row.style.display = "table-row"
                }
            }
        }
    }
</script>
<script src="/static/contrib/highlight.js/highlight.min.js" defer></script>
<script src="/static/contrib/highlight.js/yaml.min.js" defer></script>
<script src="/static/js/viewer.js?{{ base.js_version }}" defer></script>
<script src="/static/js/room.js?{{ base.js_version }}" defer></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/contrib/highlight.js/monokai.min.css">
{% endblock %}
