{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% block menu %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::menu_item("Room", "", room_url, true, "") %}
    {% if !is_closed && base.is_logged_in %}
        {% call menu::menu_item("Upload yaml", "", "#upload", false, "uploadButton") %}
    {% endif %}
    {% if !is_closed && !base.is_logged_in %}
        {% let login_url = format!("/auth/login?redirect={}", room_url) %}
        {% call menu::menu_item("Upload yaml", "", login_url, false, "") %}
    {% endif %}
    {% if is_my_room %}
        {% let edit_url = format!("/edit-room/{}", self.room.id) %}
        {% call menu::menu_item("Edit room", "", edit_url, false, "editButton") %}
    {% endif %}
{% endblock %}

{% block room_navigation %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::app_menu_item(room.name, "menu-indented fa-classic fa-angle-right", room_url, "room", base.cur_module) %}
{% endblock %}

{% block main %}

<noscript>
    Gotta enable javascript for this to work, sorry
</noscript>

{% if has_room_url %}
    <p class="message info">Room URL: <a href="{{ room.room_url }}">{{ room.room_url }}</a></p>
{% endif %}
<table class="styled" id="room-info">
    <tr>
        <td>Room name</td>
        <td><span title="Organized by @{{author_name}}">{{ room.name }}</span></td>
    </tr>
    <tr>
        <td>Closing time</td>
        <td id="close-date" class="time long-time">{{ room.close_date }}</td>
    </tr>
    <tr>
        <td>Players</td>
        <td><span title="{{unique_player_count}} unique players / {{ unique_game_count }} unique games">{{ player_count }}</span></td>
    </tr>
    <tr>
    {% if !room.description.is_empty() %}
    <tr>
        <td>Description</td>
        <td>{{ room.description|markdown }}</td>
    </tr>
    {% endif %}
</table>

<table class="styled yamls">
    <thead>
        <tr>
            <th>Player</th>
            <th>Game</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for yaml in yamls %}
        <tr>
            {% if base.is_logged_in %}
                <td><span title="@{{yaml.1}}">{{yaml.0.player_name}}</span></td>
            {% else %}
                <td>{{yaml.0.player_name}}</td>
            {% endif %}
            <td>{{yaml.0.game}}</td>
            {% if (Some(yaml.0.owner_id) == base.user_id.as_ref() || is_my_room) && !is_closed %}
            <td><a href="/room/{{room.id}}/download/{{yaml.0.id}}" />View</a> | <a href="/room/{{room.id}}/delete/{{yaml.0.id}}">Delete</a></td>
            {% else %}
            <td><a href="/room/{{room.id}}/download/{{yaml.0.id}}" />View</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if is_my_room && !yamls.is_empty() %}
        <hr>
        <tr>
            <td colspan="2"></td><td><a class="validation-button" href="/room/{{room.id}}/yamls">Download all YAMLs</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>

<form style="display: none" action="/room/{{room.id}}/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="yaml" id="yamlUpload" accept=".yml,.yaml" />
    <button id="yamlFormButton">Upload</button>
</form>
{%endblock%}

{% block scripts %}
<script>
    const yamlUpload = document.getElementById("yamlUpload");
    const yamlUploadButton = document.getElementById("uploadButton");
    const yamlFormButton = document.getElementById("yamlFormButton");

    if (yamlUploadButton) {
        yamlUploadButton.onclick = function() {
            yamlUpload.click();
        }
    }

    yamlUpload.onchange = function() {
        if (yamlUpload.files.length == 1) {
            yamlFormButton.click();
        }
    }
</script>
{% endblock %}
