{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% block menu %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::menu_item("Room", "", room_url, true, "") %}
    {% if !is_closed && base.is_logged_in %}
        {% call menu::menu_item("Upload yaml", "", "#upload", false, "uploadButton") %}
    {% endif %}
    {% if !is_closed && !base.is_logged_in %}
        {% let login_url = format!("/auth/login?redirect={}", room_url) %}
        {% call menu::menu_item("Upload yaml", "", login_url, false, "") %}
    {% endif %}
    {% if base.is_admin %}
        {% let edit_url = format!("/admin/edit-room/{}", self.room.id) %}
        {% call menu::menu_item("Edit room", "", edit_url, false, "editButton") %}
    {% endif %}
{% endblock %}
{% block main %}

<noscript>
    Gotta enable javascript for this to work, sorry
</noscript>

<table class="styled" id="room-info">
    <tr>
        <td>Room name</td>
        <td>{{ room.name }}</td>
    </tr>
    <tr>
        <td>Closing time</td>
        <td id="close-date" class="time long-time">{{ room.close_date }}</td>
    </tr>
    <tr>
        <td>Players</td>
        <td>{{ player_count }}</td>
    </tr>
    {% if base.is_admin %}
    <tr>
        <td colspan="2"><a href="/room/{{room.id}}/yamls">Download YAMLs</a></td>
    </tr>
    {% endif %}
</div>

<table class="styled">
    <thead>
        <tr>
            <th>Player</th>
            <th>Game</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for yaml in yamls %}
        <tr>
            <td>{{yaml.player_name}}</td>
            <td>{{yaml.game}}</td>
            {% if (Some(yaml.owner_id) == base.user_id.as_ref() || base.is_admin) && !is_closed %}
            <td><a href="/room/{{room.id}}/download/{{yaml.id}}" />View</a> | <a href="/room/{{room.id}}/delete/{{yaml.id}}">Delete</a></td>
            {% else %}
            <td><a href="/room/{{room.id}}/download/{{yaml.id}}" />View</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<form style="display: none" action="/room/{{room.id}}/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="yaml" id="yamlUpload" accept=".yml,.yaml" />
    <button id="yamlFormButton">Upload</button>
</form>
{%endblock%}

{% block scripts %}
<script>
    const yamlUpload = document.getElementById("yamlUpload");
    const yamlUploadButton = document.getElementById("uploadButton");
    const yamlFormButton = document.getElementById("yamlFormButton");

    if (yamlUploadButton) {
        yamlUploadButton.onclick = function() {
            yamlUpload.click();
        }
    }

    yamlUpload.onchange = function() {
        if (yamlUpload.files.length == 1) {
            yamlFormButton.click();
        }
    }
</script>
{% endblock %}
