{% extends "base.html" %}
{% import "menu.html.tera" as menu %}

{% block menu %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::menu_item("Room", "", room_url, true, "room-menu") %}
    {% if !is_closed && base.is_logged_in %}
        {% call menu::menu_item("Upload yaml", "", "#upload", false, "uploadButton") %}
    {% endif %}
    {% if !is_closed && !base.is_logged_in %}
        {% let login_url = format!("/auth/login?redirect={}", room_url) %}
        {% call menu::menu_item("Upload yaml", "", login_url, false, "") %}
    {% endif %}
    {% if room.settings.show_apworlds %}
        {% let apworlds_url = format!("/room/{}/worlds", self.room.id) %}
        {% call menu::menu_item("Apworlds", "", apworlds_url, false, "apworldsButton") %}
    {% endif %}
    {% if is_my_room %}
        {% let edit_url = format!("/edit-room/{}", self.room.id) %}
        {% call menu::menu_item("Edit room", "", edit_url, false, "editButton") %}
        {% let gen_url = format!("/room/{}/generation", self.room.id) %}
        {% call menu::menu_item("Generation", "", gen_url, false, "genButton") %}
    {% endif %}
{% endblock %}

{% block room_navigation %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::app_menu_item(room.settings.name, "menu-indented fa-classic fa-angle-right", room_url, "room", base.cur_module) %}
{% endblock %}

{% block main %}

<noscript>
    Gotta enable javascript for this to work, sorry
</noscript>

{% if has_room_url %}
    <p class="message info">Room URL: <a href="{{ room.settings.room_url }}">{{ room.settings.room_url }}</a></p>
{% endif %}

<table class="styled" id="room-info">
    <tr>
        <td>Room name</td>
        <td><span title="Organized by @{{author_name}}">{{ room.settings.name }}</span></td>
    </tr>
    <tr>
        <td>Closing time</td>
        <td id="close-date" class="time long-time discord">{{ room.settings.close_date }}</td>
    </tr>
    {% match room.settings.yaml_limit_per_user%}
    {% when Some with (yaml_limit_per_user) %}
    <tr>
        <td>Maximum number of games per player</td>
        <td>{{ yaml_limit_per_user}}</td>
    </tr>
    {% when None %}
    {% endmatch %}
    <tr>
        <td>Players</td>
        <td><span title="{{unique_player_count+}} unique players / {{+ unique_game_count +}} unique games">{{ player_count }}</span></td>
    </tr>
    {% if !room.settings.description.is_empty() %}
    <tr>
        <td colspan=2 id="room-description">{{ room.settings.description|markdown|safe }}</td>
    </tr>
    {% endif %}
</table>

<div id="filter-popup" style="display: none">
    <form action="javascript:void(0);">
        <input type="text" name="search" placeholder="Search" autocomplete="off"/>
        <input type="checkbox" id="my-yamls"><label for="my-yamls">My files only</label><br>
        {% if base.is_logged_in %}
        <input type="checkbox" id="broken-yamls"><label for="broken-yamls">Invalid yamls only</label><br>
        <input type="checkbox" id="keep-discord-names"><label for="keep-discord-names">Always show discord names</label><br>
        {% endif %}
        {% if is_my_room && !is_closed %}
        {% endif %}

        <button onclick='document.getElementById("filter-popup").style.display = "none";'>Close</button>
    </form>
</div>

<table class="styled yamls" id="yamls">
    <thead>
        <tr>

            <th data-sort-key="player-name"></span><i id="filter-trigger" class="fa fa-filter"></i> Player {%+ if base.is_logged_in %} <span data-sort-key="discord-name">(@</span>) {% endif %} {% if room.settings.is_bundle_room %}<i id="bundle-trigger" class="fa fa-sack-xmark disabled bundle-indicator" onclick="triggerBundle(this, event)"></i>{% endif%}</th>
            <th data-sort-key="game-name">Game</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for (yaml, discord_name) in yamls %}
            {% call yaml_row(yaml, discord_name) %}
        {% endfor %}
    </tbody>
    <tfoot>
        {% if base.is_logged_in && !yamls.is_empty() %}
        <tr>
            <td colspan="2"></td><td>
                <span class="multiselect multiselect-green">
                    <a data-multiselect-label="Download as individual YAMLs" href="/room/{{room.id}}/yamls">Download all YAMLs</a>
                    <a href="/room/{{room.id}}/bundles">Download as bundled YAMLs</a>
                </span>
            </td>
        </tr>
        {% endif %}
    </tfoot>
</table>

<form style="display: none" action="/room/{{room.id}}/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="yamls[]" id="yamlUpload" accept=".yml,.yaml" multiple>
    <button id="yamlFormButton">Upload</button>
</form>
{%endblock%}

{% macro yaml_row(yaml, discord_name) %}
    {% let is_my_yaml = (Some(yaml.owner_id) == base.user_id.as_ref()) %}
    <tr {%+ if is_my_yaml %} data-my-yaml="true" {% endif +%} data-bundle-id="{{ yaml.bundle_id }}" data-yaml-id="{{ yaml.id }}" data-valid-yaml="{{ yaml.validation_status.is_valid() }}">
        {% if base.is_logged_in %}
            <td>
                <span>
                    {% if room.settings.yaml_validation %}
                        <span onclick ='return showRowYaml(this)' class="validation-result validation-{{yaml.validation_status.as_str()}}"></span>
                    {% else %}
                        <span></span>
                    {% endif %}
                    <span class="player-name" title="@{{ discord_name }}">{{yaml.player_name}}</span>
                    {{yaml.features|yaml_features|safe}}
                </span>
            </td>
        {% else %}
            <td><span><span class="player-name">{{yaml.player_name}}</span> {{yaml.features|yaml_features|safe}}</span></td>
        {% endif %}
        <td>{{yaml.game}}</td>
        <td>
            <a href="/room/{{room.id}}/download/{{yaml.id}}" onclick='return showRowYaml(this)'>View</a>
            {% if (is_my_yaml || is_my_room) %}
                {% if !is_closed%}
                    {% if room.settings.is_bundle_room %}
                        {# +#} |
                        <span class="multiselect">
                            <a href="/room/{{room.id}}/delete_bundle/{{yaml.bundle_id}}" data-multiselect-label="Delete bundle" data-confirm-del=true data-resource-type="YAML bundle containing" data-resource-name="{{yaml.player_name}}&nbsp;({{yaml.game}})" data-del-extra=getYamlsForBundle data-del-extra-arg="{{ yaml.bundle_id }}">Delete</a>
                            {% if is_my_room %}
                                {# +#} <a href="/room/{{room.id}}/delete/{{yaml.id}}" data-confirm-del=true data-resource-type="YAML file" data-resource-name="{{yaml.player_name}}&nbsp;({{yaml.game}})">Delete YAML</a>
                            {% endif %}
                        </span>
                    {% else %}
                        {# +#} | <a href="/room/{{room.id}}/delete/{{yaml.id}}" data-confirm-del=true data-resource-type="YAML file" data-resource-name="{{yaml.player_name}}&nbsp;({{yaml.game}})">Delete</a>
                    {% endif %}
                {% else if yaml.patch.is_some() %}
                {# +#} | <a href="/room/{{room.id}}/patch/{{yaml.id}}">Patch</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% block scripts %}

<script src="/static/contrib/highlight.js/highlight.min.js" defer></script>
<script src="/static/contrib/highlight.js/yaml.min.js" defer></script>
<script src="/static/js/viewer.js?{{ base.js_version }}" defer></script>
<script src="/static/js/menu.js?{{ base.js_version }}"></script>
<script src="/static/js/room.js?{{ base.js_version }}" defer></script>
<script src="/static/js/simplesearch.js?{{ base.js_version }}"></script>

<script>
    function showRowYaml(elmt) {
        const expandValidation = elmt.classList.contains("validation-result")
        const yamlId = elmt.closest("tr").dataset.yamlId
        return showYaml("{{ room.id }}", yamlId, expandValidation)
    }

    const yamlUpload = document.getElementById("yamlUpload");
    const yamlUploadButton = document.getElementById("uploadButton");
    const yamlFormButton = document.getElementById("yamlFormButton");

    if (yamlUploadButton) {
        yamlUploadButton.onclick = function() {
            yamlUpload.click();
        }
    }

    yamlUpload.onchange = function() {
        yamlFormButton.click();
    }

    // Search popup
    document.getElementById("filter-trigger").onclick = function(event) {
        event.stopPropagation();
        const popup = document.getElementById("filter-popup");

        if (popup.style.display === "block") {
            popup.style.display = "none"
            return
        }

        const anchor_bb = event.target.getBoundingClientRect();
        const element_bb = popup.getBoundingClientRect();

        if (anchor_bb.left + element_bb.width > window.innerWidth) {
            popup.style.left = window.innerWidth - element_bb.width + "px"
        } else {
            popup.style.left = anchor_bb.left + "px"
        }

        popup.style.top = (anchor_bb.bottom + window.scrollY) + "px"
        popup.style["min-width"] = anchor_bb.width + "px"
        popup.style.display = "block"
        popup.style.position = "absolute"
    }

    // Search field
    const search = new SimpleSearch('search', '.yamls tbody > tr', '.player-name');

    // Boolean filters
    function addFilters(filters) {
        function refreshFilters() {
            const yamlTable = document.getElementById("yamls").getElementsByTagName("tbody")[0];
            for(let row of yamlTable.getElementsByTagName("tr")) {
                var hidden = false;
                for (const [filterId, filter] of Object.entries(filters)) {
                    const filterYamls = document.getElementById(filterId);
                    if (!filterYamls) continue;
                    hidden |= (filterYamls.checked && filter(row))
                }

                row.setAttribute("data-hidden", !!hidden)
            }
        }

        for (const [filterId, filter] of Object.entries(filters)) {
            const filterYamls = document.getElementById(filterId);
            if (!filterYamls) continue;
            filterYamls.checked = false;
            filterYamls.onchange = function() {
                refreshFilters()
                search.update()
            }
        }
    }

    addFilters({"my-yamls": (row) => row.dataset.myYaml !== "true", "broken-yamls": (row) => row.dataset.validYaml != "false"})

    // Always show discord names
    const keepDiscordNames = document.getElementById("keep-discord-names")
    if (keepDiscordNames !== null) {
        keepDiscordNames.checked = false;
        keepDiscordNames.onchange = function() {
            const yamlTable = document.getElementById("yamls").getElementsByTagName("tbody")[0];
            for(let row of yamlTable.getElementsByTagName("tr")) {
                const playerName = row.getElementsByClassName("player-name")[0]
                if (!playerName) continue

                playerName.setAttribute("data-forced-on", !!keepDiscordNames.checked)

                if (keepDiscordNames.checked) {
                    const titleElem = createTitleSpan(playerName)
                    keepDiscordNames.addEventListener("change", function() {
                        titleElem.parentElement.removeChild(titleElem);
                    }, {once: true})
                }
            }
        }
    }

    // Table sorting
    function sortBy(key, elmt) {
        function getValueToSortWith(row, key) {
            switch (key) {
                case "bundle-id":
                    return row.dataset.bundleId
                case "game-name":
                    return row.children[1].innerText.toLowerCase()
                case "discord-name":
                    return row.children[0].getElementsByClassName("player-name")[0].title.toLowerCase()
                case "validation-status":
                    break
                case "player-name":
                    return row.children[0].getElementsByClassName("player-name")[0].innerText.toLowerCase()
                default:
                    console.log("Unknown sort-by key: ", key)
                    return 0
            }
        }

        const currentDirection = (elmt && elmt.dataset.sortDir) || 'asc'
        const direction = currentDirection === 'asc' ? 'desc' : 'asc'
        if (elmt) {
            elmt.setAttribute('data-sort-dir', direction)
        }
        const table = document.getElementById('yamls');
        const compare = (a, b) => {
            if (direction === 'asc') {
                return getValueToSortWith(a, key) > getValueToSortWith(b, key) ? 1 : -1
            } else {
                return getValueToSortWith(a, key) < getValueToSortWith(b, key) ? 1 : -1
            }
        }
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(compare)
            .forEach(tr => tbody.appendChild(tr));

        if (key == "bundle-id") {
            setBundleSeparator(true)
        } else {
            setBundleSeparator(false)
        }

        const sortIndicator = document.createElement("i")
        sortIndicator.classList.add(...["fa", "sort-indicator", direction === "asc" ? "fa-sort-up" : "fa-sort-down"])
        if (elmt) {
            elmt.insertBefore(sortIndicator, elmt.children[1])
        }
    }

    function removeAllSortableIndicators(elmt) {
        const sortableIndicators = elmt.querySelectorAll(".sort-indicator")
        for (const elmt of sortableIndicators) {
            elmt.parentElement.removeChild(elmt)
        }
    }

    function connectSortableElements(table) {
        const thead = table.querySelector("thead")
        const elements = thead.querySelectorAll("*")
        for (const elmt of elements) {
            const sortKey = elmt.dataset.sortKey
            if (!sortKey) continue

            elmt.onclick = (event) => {
                removeAllSortableIndicators(thead)
                sortBy(sortKey, elmt)
                event.stopPropagation()
            }
        }
    }

    function setBundleSeparator(shouldShow) {
        const table = document.getElementById('yamls');
        const tbody = table.querySelector('tbody');
        const rows = tbody.querySelectorAll('tr')

        if (shouldShow) {
            var currentBundleId = ""
            for (const row of rows) {
                const rowBundleId = row.dataset.bundleId;
                row.classList.remove("bundle-separator")

                if (currentBundleId != "" && currentBundleId != rowBundleId) {
                    row.classList.add("bundle-separator");
                }

                currentBundleId = rowBundleId;
            }
        } else {
            for (const row of rows) {
                row.classList.remove("bundle-separator")
            }
        }
    }

    connectSortableElements(document.getElementById("yamls"))

    function triggerBundle(elmt, event) {
        event.stopPropagation()
        const thead = document.getElementById("yamls").getElementsByTagName("thead")[0];
        removeAllSortableIndicators(thead)

        if (elmt.classList.contains("disabled")) {
            elmt.classList.remove("disabled")
            sortBy("bundle-id")
        } else {
            elmt.classList.add("disabled")
            sortBy("player-name")
        }
    }

    function getYamlsForBundle(bundleId) {
        const table = document.getElementById('yamls');
        const tbody = table.querySelector('tbody');
        const rows = tbody.querySelectorAll('tr')
        var yamls = []
        for (const row of rows) {
            if (row.dataset.bundleId == bundleId) {
                yamls.push(row)
            }
        }

        return "<br><br>The room forces YAMLs to be kept as bundles. Deleting this will delete:<br><ul style=\"text-align: left\">" + yamls.map((row) => {
            return "<li>" + row.lastElementChild.lastElementChild.firstElementChild.dataset.resourceName
             .replace(/&/g, "&amp;")
             .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;") + "</li>"
        }).join("") + "</ul>"
    }
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/contrib/highlight.js/monokai.min.css">
{% endblock %}
