{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% import "utils.html.tera" as utils %}

{% block menu %}
{% endblock %}
{% block room_navigation %}
    {%- match room %}
    {%- when Some with (room) %}
        {% let room_url = format!("/room/{}", room.id) %}
        {% call menu::app_menu_item(room.name, "menu-indented fa-classic fa-angle-right", room_url, "room", base.cur_module) %}
    {% when None %}
    {% endmatch %}
{% endblock %}
{% block main %}

{%- match room %}
{%- when Some with (room) %}
    <form method="POST" action="/edit-room/{{room.id}}">
{%- when None %}
    <form method="POST">
{%- endmatch %}
    <label for="room_name">Room name:</label>
    {% match room %}
    {% when Some with (room) %}
        <input type="text" name="room_name" id="room_name" value="{{room.name}}" minlength="1" required />
    {% when None %}
        <input type="text" name="room_name" id="room_name" minlength="1" required />
    {% endmatch %}

    <label for="close_date">Submission limit:</label>
    <input type="datetime-local" id="close_date" name="close_date"/>

    <label for="room_description">Description:</label>
    <textarea name="room_description" id="room_description">
    {%- match room -%}
    {%- when Some with (room) -%}
        {{- room.description -}}
    {%- when None -%}
    {%- endmatch -%}
    </textarea>

    {% match room %}
    {% when Some with (room) %}
    <input type="checkbox" name="private" id="private" {% if room.private %} checked {% endif %}/>
    {%- when None -%}
    <input type="checkbox" name="private" id="private" checked/>
    {%- endmatch -%}
    <label for="private">Private room | {% call utils::hint_text("A private room will not be displayed on the index page unless you already have a YAML file uploaded to it. The link to the room will need to be shared to other participants manually.") %}</label>

    <formset>
        {% match room %}
        {% when Some with (room) %}
        <input type="checkbox" name="yaml_validation" id="yaml_validation" {% if room.yaml_validation %} checked {% endif %}/>
        {%- when None -%}
        <input type="checkbox" name="yaml_validation" id="yaml_validation" checked/>
        {%- endmatch -%}
        <label for="yaml_validation">Validate uploaded YAML files</label>

        {% match room %}
        {% when Some with (room) %}
        <input type="checkbox" name="allow_unsupported" id="allow_unsupported" {% if room.allow_unsupported%} checked {% endif %}/>
        {%- when None -%}
        <input type="checkbox" name="allow_unsupported" id="allow_unsupported"/>
        {%- endmatch -%}
        <label for="allow_unsupported">Allow bypassing validation for unsupported games</label>
    </formset>

    {% match room %}
    {% when Some with (room) %}
        <label for="room_url">Room URL:</label>
        <input type="text" id="room_url" name="room_url" value="{{room.room_url}}"/>
    {%- when None -%}
        <input type="hidden" id="room_url" name="room_url" value=""/>
    {%- endmatch -%}

    <input type="hidden" name="tz_offset" id="tz_offset"/>

{%- match room %}
{%- when Some with (room) %}
    <button>Save room</button>
{%- when None %}
    <button>Create room</button>
{%- endmatch %}
</form>
{% endblock %}

{% block scripts %}
<script>
const tzOffset = (new Date()).getTimezoneOffset();
document.getElementById("tz_offset").value = tzOffset;


function dateToISOLikeButLocal(date) {
    const offsetMs = date.getTimezoneOffset() * 60 * 1000;
    const msLocal =  date.getTime() - offsetMs;
    const dateLocal = new Date(msLocal);
    const iso = dateLocal.toISOString();
    const isoLocal = iso.slice(0, 19);
    return isoLocal;
}
const closeDateEl = document.getElementById("close_date");

{%- if let Some(room) = room %}
const closeDate = new Date("{{room.close_date}}Z");
closeDateEl.value = dateToISOLikeButLocal(closeDate);
{% else %}
const closeDate = new Date();
closeDate.setSeconds(0)
closeDateEl.value = dateToISOLikeButLocal(closeDate);
{%- endif %}

function updateFormset(formset) {
    const inputs = Array.from(formset.getElementsByTagName("input"));
    if (!inputs) {
        return;
    }

    const first_input = inputs[0];
    if (first_input.type != "checkbox") {
        return;
    }

    inputs.splice(0, 1);
    const display = first_input.checked ? "inline-block" : "none";
    for (const input of inputs) {
        if (input.type != "checkbox") {
            input.style.display = display;
        }

        for (const label of input.labels) {
            label.style.display = display;
        }
    }

    return first_input;
}

const formsets = document.getElementsByTagName("formset");
for (const formset of formsets) {
    const first_input = updateFormset(formset);
    if (first_input) {
        first_input.onchange = () => updateFormset(formset);
    }
}

</script>
{% endblock %}
