{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% import "utils.html.tera" as utils %}

{% block menu %}
    {% call menu::menu_item("Room", "", "#room-options", true, "room-options") %}
    {% call menu::menu_item("Advanced options", "", "#advanced-options", false, "advanced-options") %}
{% endblock %}
{% block room_navigation %}
    {%- match room %}
    {%- when Some with (room) %}
        {% let room_url = format!("/room/{}", room.id) %}
        {% call menu::app_menu_item(room.name, "menu-indented fa-classic fa-angle-right", room_url, "room", base.cur_module) %}
    {% when None %}
    {% endmatch %}
{% endblock %}
{% block main %}

{%- match room %}
{%- when Some with (room) %}
    <form method="POST" action="/edit-room/{{room.id}}" id="room-form">
{%- when None %}
    <form method="POST" id="room-form">
{%- endmatch %}

<div class="options-tab" id="section-room-options">
    <label for="room_name">Room name:</label>
    {% match room %}
    {% when Some with (room) %}
        <input type="text" name="room_name" id="room_name" value="{{room.name}}" minlength="1" required />
    {% when None %}
        <input type="text" name="room_name" id="room_name" minlength="1" required />
    {% endmatch %}

    <label for="close_date">Submission limit:</label>
    <input type="datetime-local" id="close_date" name="close_date"/>

    <label for="room_description">Description:</label>
    <textarea name="room_description" id="room_description">
    {%- match room -%}
    {%- when Some with (room) -%}
        {{- room.description -}}
    {%- when None -%}
    {%- endmatch -%}
    </textarea>
    {% match room %}
    {% when Some with (room) %}
        <label for="room_url">Room URL:</label>
        <input type="text" id="room_url" name="room_url" value="{{room.room_url}}"/>
    {%- when None -%}
        <input type="hidden" id="room_url" name="room_url" value=""/>
    {%- endmatch -%}

    <hr>

    {% match room %}
    {% when Some with (room) %}
    <input type="checkbox" name="private" id="private" {% if room.private %} checked {% endif %}/>
    {%- when None -%}
    <input type="checkbox" name="private" id="private" checked/>
    {%- endmatch -%}
    <label for="private">Private room | {% call utils::hint_text("A private room will not be displayed on the index page unless you already have a YAML file uploaded to it. The link to the room will need to be shared to other participants manually.") %}</label>
</div>

<div class="options-tab" id="section-advanced-options">
    <formset>
        {% match room %}
        {% when Some with (room) %}
        <input type="checkbox" name="yaml_validation" id="yaml_validation" {% if room.yaml_validation %} checked {% endif %}/>
        {%- when None -%}
        <input type="checkbox" name="yaml_validation" id="yaml_validation" checked/>
        {%- endmatch -%}
        <label for="yaml_validation">Validate uploaded YAML files</label>

        {% match room %}
        {% when Some with (room) %}
        <input type="checkbox" name="allow_unsupported" id="allow_unsupported" {% if room.allow_unsupported%} checked {% endif %}/>
        {%- when None -%}
        <input type="checkbox" name="allow_unsupported" id="allow_unsupported"/>
        {%- endmatch -%}
        <label for="allow_unsupported">Allow bypassing validation for unsupported games</label>
    </formset>

    <hr>

    <formset>
    {% match room %}
    {% when Some with (room) %}
    <input type="checkbox" name="yaml_limit_per_user" id="yaml_limit_per_user" {% if room.yaml_limit_per_user.is_some() %} checked {% endif %} />
    {% when None %}
    <input type="checkbox" name="yaml_limit_per_user" id="yaml_limit_per_user" />
    {% endmatch %}

    <label for="yaml_limit_per_user">Limit the number of games a user can submit</label>

    <label for="yaml_limit_per_user_nb">Limit:</label>
    {% match room %}
    {% when Some with (room) %}
    <input type="number" min=1 name="yaml_limit_per_user_nb" id="yaml_limit_per_user_nb" value="{{ room.yaml_limit_per_user.unwrap_or(1) }}" />
    {% if base.is_admin %}
    <label for="yaml_limit_bypass_list">YAML limit bypass list:</label>
    {% endif %}
    <input {% if base.is_admin %}type="text"{% else %}type="hidden"{% endif %} name="yaml_limit_bypass_list" id="yaml_limit_bypass_list" value="{{ room.yaml_limit_bypass_list|join(",") }}" />
    {% when None %}
    <input type="number" min=1 name="yaml_limit_per_user_nb" id="yaml_limit_per_user_nb" value="1" />
    {% if base.is_admin %}
    <label for="yaml_limit_bypass_list">YAML limit bypass list:</label>
    {% endif %}
    <input {% if base.is_admin %}type="text"{% else %}type="hidden"{% endif %} type="text" name="yaml_limit_bypass_list" id="yaml_limit_bypass_list" />
    {% endmatch %}

{%- match room %}
{%- when Some with (room) %}
    <hr>
    <h5>Danger zone</h5>
    <table class="styled danger-zone">
        <tr><td>Delete this room. This will delete all associated YAMLs, there is no going back.</td><td><a href="/delete-room/{{room.id}}" class="cancel-button" data-confirm-del=true data-resource-type="room" data-resource-name="{{room.name}}">Delete room</a></td></tr>
    </table>
{%- when None %}
{%- endmatch %}

    </formset>
</div>

    <input type="hidden" name="tz_offset" id="tz_offset"/>

<hr>
{%- match room %}
{%- when Some with (room) %}
    <button>Save room</button>
{%- when None %}
    <button>Create room</button>
{%- endmatch %}
</form>
{% endblock %}

{% block scripts %}
    <script src="/static/js/room_editor.js?{{ base.js_version}}"></script>
    <script src="/static/js/room.js?{{ base.js_version}}"></script>
    <script defer>
        const closeDateEl = document.getElementById("close_date");

        {%- if let Some(room) = room %}
        const closeDate = new Date("{{room.close_date}}Z");
        closeDateEl.value = dateToISOLikeButLocal(closeDate);
        {% else %}
        const closeDate = new Date();
        closeDate.setSeconds(0)
        closeDateEl.value = dateToISOLikeButLocal(closeDate);
        {%- endif %}

        const form = document.getElementById("room-form");
        const messages = document.getElementById("messages");
        for (const elmt of form.getElementsByTagName("input")) {
            elmt.addEventListener("invalid", () => {
                const message = document.createElement("p")
                message.className = "error";
                message.innerText = "One or more input is invalid.";

                messages.innerHTML = "";
                messages.appendChild(message);
            });
        }
    </script>
{% endblock %}
