{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% import "utils.html.tera" as utils %}

{% block menu %}
    {% call menu::menu_item("Room info", "", "#", true, "room-options") %}
    {% call menu::menu_item("Advanced options", "", "#", false, "advanced-options") %}
    {% call menu::menu_item("Apworlds", "", "#", false, "apworlds-editor") %}
{% endblock %}

{% block template_navigation %}
    {% match tpl %}
    {% when Some with (tpl) %}
        {% let tpl_url = format!("/room-templates/{}", tpl.id) %}
        {% call menu::app_menu_item(tpl.settings.name, "menu-indented fa-classic fa-angle-right", tpl_url, "template", base.cur_module) %}
    {% when None %}
    {% endmatch %}
{% endblock %}

{% block main %}

{{ tpl_settings_form|safe }}

{% endblock %}
