{% extends "base.html" %}
{% import "menu.html.tera" as menu %}

{% block template_navigation %}
    {% let tpl_url = format!("/room-templates/{}/rooms", self.tpl.id) %}
    {% call menu::app_menu_item(tpl.settings.name, "menu-indented fa-classic fa-angle-right", tpl_url, "template", base.cur_module) %}
{% endblock %}

{% block main %}

{% if rooms.len() != 0 %}
    <h6 style="margin: 0;">List of rooms created from the template {{+ tpl.settings.name }}</h6>
    <table class="styled">
        <thead>
            <tr>
                <td>Room name</td>
                <td>Closing date</td>
            </tr>
        </thead>
        <tbody>
    {% for room in rooms %}
        <tr>
            <td><a href="/room/{{room.id}}">{{ room.settings.name }}</a></td>
            <td><span class="time long-time">{{room.settings.close_date}}</span></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
You haven't used this template to open any room yet.
{% endif %}

{%endblock%}
