{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% import "shared/apworlds_table.html" as apworlds_table %}
{% block menu %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::menu_item("Room", "", room_url, false, "") %}
    {% if base.is_logged_in %}
        {% let apworlds_url = format!("/room/{}/worlds", self.room.id) %}
        {% call menu::menu_item("Apworlds", "", apworlds_url, true, "apworldsButton") %}
    {% endif %}
    {% if is_my_room %}
        {% let edit_url = format!("/edit-room/{}", self.room.id) %}
        {% call menu::menu_item("Edit room", "", edit_url, false, "editButton") %}
    {% endif %}
{% endblock %}

{% block room_navigation %}
    {% let room_url = format!("/room/{}", self.room.id) %}
    {% call menu::app_menu_item(room.settings.name, "menu-indented fa-classic fa-angle-right", room_url, "room", base.cur_module) %}
{% endblock %}

{% block main %}
<table class="styled" id="room-info">
    {% if !room.settings.yaml_validation %}
        <tr>
            <td colspan=2>
                The room doesn't have YAML validation on. The following list is
                just an informative one about what the lobby supports and might
                not correspond to what the author is going to use.
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan=2>
                The room is validating uploaded YAMLs with the following
                list of apworlds. The apworlds used during generation might
                differ though and you should refer to the room description
                to know what the author's stance on that is.
            </td>
        </tr>
        {% if room.settings.allow_unsupported %}
            <tr>
                <td colspan=2>
                    The room author has allowed uploading YAMLs for games not
                    present in the list.
                </td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <td>Download</td>
        <td><a class="validation-button" href="/room/{{room.id}}/worlds/download_all">Download all apworlds</a></td>
    </tr>
</table>

{% call apworlds_table::apworlds_tables(supported_apworlds, unsupported_apworlds) %}
{% endblock %}

{% block styles %}
{% endblock %}


