{% import "utils.html.tera" as utils %}

{% let ro %}
{% if self.read_only %}
    {% let ro = " disabled " %}
{% else %}
    {% let ro = " " %}
{% endif %}

{% if self.read_only %}
    <div class="message info">
    This is a read-only version of the {{+ self.ty }}.
    </div>
{% endif %}

{% match self.room_id %}
{% when Some with (room_id) %}
<form method="POST" action="{{ ty.as_route_base() }}/{{room_id}}" id="room-form">
{% when None %}
<form method="POST" id="room-form">
{% endmatch %}
    <div id='option-pages'>
        {% if !self.ty.is_room() %}
        {% include "room_manager/room_form_tpl_section.html" %}
        {% endif %}
        <div class="options-tab" id="section-room-options">
            <label for="room_name">Room name:</label>
            <input {{ro}} type="text" name="room.room_name" id="room_name" value="{{self.room.name}}" minlength="1" required>

            {% if self.ty.is_room() %}
                <label for="close_date">Submission limit:</label>
                <input {{ ro }} type="datetime-local" id="close_date" name="room.close_date">
            {% else %}
                <input {{ ro }} style="display: none" type="datetime-local" id="close_date" name="room.close_date">
            {% endif %}

            <label for="room_description">Description:</label>
            <textarea {{ ro }} name="room.room_description" id="room_description">
                {{- self.room.description -}}
            </textarea>

            {% if self.ty.is_room() %}
                <label for="room_url">Room URL:</label>
                <input {{ ro }} type="text" id="room_url" name="room.room_url" value="{{self.room.room_url}}">
            {% else %}
                <input {{ ro }} type="hidden" id="room_url" name="room.room_url" value="{{self.room.room_url}}">
            {% endif %}
        </div>

        <div class="options-tab" id="section-advanced-options">
            <fieldset class="formset">
                <input {{ ro }} type="checkbox" name="room.yaml_validation" id="yaml_validation" {%+ if self.room.yaml_validation %} checked {% endif %}>
                <label for="yaml_validation">Validate uploaded YAML files</label>

                <input {{ ro }} type="checkbox" name="room.allow_unsupported" id="allow_unsupported" {%+ if self.room.allow_unsupported%} checked {% endif %}>
                <label for="allow_unsupported">Allow bypassing validation for games not on the lobby</label>
            </fieldset>

            <input {{ ro }} type="checkbox" name="room.show_apworlds" id="show_apworlds" {%+ if self.room.show_apworlds%} checked {% endif %}>
            <label for="show_apworlds">Show the apworlds page for the room</label>

            <hr>

            <fieldset class="formset">
                <input {{ ro }} type="checkbox" name="room.yaml_limit_per_user" id="yaml_limit_per_user" {%+ if self.room.yaml_limit_per_user.is_some() %} checked {% endif %}>
                <label for="yaml_limit_per_user">Limit the number of games a user can submit</label>

                <label for="yaml_limit_per_user_nb">Limit:</label>
                <input {{ ro }} type="number" min=1 name="room.yaml_limit_per_user_nb" id="yaml_limit_per_user_nb" value="{{ self.room.yaml_limit_per_user.unwrap_or(1) }}">

                {% if base.is_admin %}
                <label for="yaml_limit_bypass_list">YAML limit bypass list:</label>
                {% endif %}
                <input {{ ro }} {%+ if base.is_admin %}type="text"{%+ else %}type="hidden"{% endif +%} name="room.yaml_limit_bypass_list" id="yaml_limit_bypass_list" value="{{ self.room.yaml_limit_bypass_list|join(",") }}">


                {% if !self.read_only %}
                    {% match self.room_id %}
                    {% when Some with (room_id) %}
                    <hr>
                    <h5>Danger zone</h5>
                    <table class="styled danger-zone">
                        <tr>
                            <td>Delete this {{+ self.ty }}? {%+ if self.ty.is_room() %} This will delete all associated YAMLs, there is no going back. {% endif %}</td>
                            <td>
                                <a href="{{ ty.as_route_base() }}/{{room_id}}/delete" class="cancel-button" data-confirm-del=true data-resource-type="{{ self.ty }}" data-resource-name="{{self.room.name}}">Delete {{+ self.ty }}</a>
                            </td>
                        </tr>
                    </table>
                    {% when None %}
                    {% endmatch %}
                {% endif %}
            </fieldset>
        </div>

        <div class="options-tab" id="section-apworlds-editor">
        {% include "room_manager/manifest_editor.html" %}
        </div>
        <input {{ ro }} type="hidden" name="room.tz_offset" id="tz_offset">

    </div>

    {% if !self.read_only %}
        <hr>
        <div id="save-button">
        {% if self.room_id.is_some() %}
            <button>Save {{+ self.ty }}</button>
        {% else %}
            <button>Create {{+ self.ty }}</button>
        {% endif%}
        </div>
    {% endif %}
</form>

{% block scripts %}
    <script src="/static/js/room_editor.js?{{ base.js_version}}"></script>
    <script src="/static/js/room.js?{{ base.js_version}}"></script>
    <script>
        const closeDateEl = document.getElementById("close_date");
        closeDateEl.addEventListener("change", () => {
            refreshTimezoneOffset(new Date(closeDateEl.value + "Z"))
        })

        const closeDate = new Date("{{self.room.close_date}}Z");
        refreshTimezoneOffset(closeDate);
        closeDateEl.value = dateToISOLikeButLocal(closeDate);

        const form = document.getElementById("room-form");
        const messages = document.getElementById("messages");
        for (const elmt of form.getElementsByTagName("input")) {
            elmt.addEventListener("invalid", () => {
                const message = document.createElement("p")
                message.className = "error";
                message.innerText = "One or more input is invalid.";

                messages.innerHTML = "";
                messages.appendChild(message);
            });
        }
    </script>
{% endblock %}
